@import url('"https://fonts.googleapis.com/css?family=Poppins&display=swap"');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    margin-top: -50px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: royalblue;
    user-select:  none;
}


.navigation a {
    position: relative;
    font-size: 2.2em;
    color: rgb(30, 60, 11);
    text-decoration: none;
    font-weight: 500;
    margin-left: 45px; /* Marge à gauche pour séparer les liens */
    background: transparent;
    border: 2px solid rgb(30, 60, 11);;
    padding: 5px;
    color: rgb(30, 60, 11);;
    border-radius: 12px;

    transition: .5s;
}


.navigation a:hover{
    background: rgb(30, 60, 11);;
    color: white;

}


/*.bouton-rectangle-vertical {
    width: 400px; 
    height: 800px; 
    background-color: royalblue; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-left: 300px;
    margin-top: 200px;
    border-radius: 20px;
    font-size: 35px;
}

.bouton-rectangle-vertical a {
    text-decoration: none; 
    color: white; 
}*/

.bouton-rectangle {
    width: 600px; 
    height: 1000px; 
    background-color: transparent; 
    text-align: center; 
    border: solid rgb(30, 60, 11);
    display: flex; 
    color: rgb(30, 60, 11);
    justify-content: center; 
    align-items: center;
    margin-left: 300px;
    margin-top: 300px;
    border-radius: 20px;
    font-size: 35px;
    text-decoration: none;
}


.bouton-rectangle:hover {
    background-color: rgb(30, 60, 11);; /* Couleur de fond au survol */
    color: white;
    text-decoration: underline;  
}

.bouton-rectangle1 {
    width: 600px; 
    height: 1000px; 
    background-color: transparent; 
    text-align: center; 
    border: solid rgb(30, 60, 11);;
    display: flex; 
    color: rgb(30, 60, 11);;
    justify-content: center; 
    align-items: center;
    margin-left: 1200px;
    margin-top: -990px;
    border-radius: 20px;
    font-size: 35px;
    
}

.bouton-rectangle1:hover {
    background-color: rgb(30, 60, 11);; /* Couleur de fond au survol */
    color: white;
    text-decoration: underline;

}

.bouton-rectangle2 {
    width: 600px; 
    height: 1000px; 
    background-color: transparent; 
    text-align: center; 
    border: solid rgb(30, 60, 11);
    display: flex; 
    color: rgb(30, 60, 11);;
    justify-content: center; 
    align-items: center;
    margin-left: 2100px;
    margin-top: -990px;
    border-radius: 20px;
    font-size: 35px;
}

.bouton-rectangle2:hover {
    background-color: rgb(30, 60, 11);; /* Couleur de fond au survol */
    color: white;
}

/* Styles pour le formulaire */
form {
    display: flex; 
    flex-direction: column; 
    width: 300px; 
    margin: 0 auto;
}

/* Styles pour les labels */
label {
    margin-bottom: 10px; 
}

/* Styles pour les champs de saisie (input) */
input[type="text"],
input[type="password"] {
    width: 100%; 
    padding: 5px;
    margin-bottom: 10px; 
}

    body{
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow: hidden;
        overflow-y: auto;
    }
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: -400px;
        background: transparent;
        border-radius: 12px;
        border: solid rgb(30, 60, 11); 
    }
    .center h1{
        text-align: center;
        padding: 0 0 20 px 0;
        border-bottom: 1px solid silver;
    }

    .center form{
        width: 650px; /* Largeur du formulaire */
        height: 400px; /* Hauteur du formulaire */
        margin: 0 auto; /* Centrer le formulaire horizontalement */
        padding: 20px;
    }

    form .txt_fiield{
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 30px 0;
    }
    .txt_fiield input{
        width:  100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none ;
        background: transparent;
        outline: none;
    }

    form .txt_fiiel{
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 30px 0;
    }
    .txt_fiiel input{
        width:  100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none ;
        background: transparent;
        outline: none;
    }

    .hi{
        color: rgb(30, 60, 11);;
    }
    .hii{
        color: rgb(30, 60, 11);;
        text-align: center;
    }

    .bouton{
            width:300px; 
            height: 70px;
            background-color: transparent; 
            text-align: center; 
            border: solid rgb(30, 60, 11);
            display: flex; 
            color: rgb(30, 60, 11);;
            justify-content: center; 
            align-items: center;
            border-radius: 8px;
            font-size: 25px;
    }

    .lien{
       
        text-decoration: none;
        color:  rgb(30, 60, 11);
    }

    .signup_link{
        margin-top: 25px;
        font-size: 20px;
    }

    .bouton:hover {
        background-color: rgb(30, 60, 11);; /* Couleur de fond au survol */
        color: white;
    }
    
    .center2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: -400px;
        background: transparent;
        border-radius: 12px;
        border: solid rgb(30, 60, 11); 
       
    }

    .center2 form{
        width: 750px; /* Largeur du formulaire */
        height: 800px; /* Hauteur du formulaire */
        margin: 0 auto; /* Centrer le formulaire horizontalement */
        padding: 20px;
    }
    .ser{
        font-size: 100px;
    }

    .service {
        margin-top: 1500px;
        font-size: 30px;
        text-align: center;
    }

.round-list{
    margin-top: 100px;
    list-style-type: disc; /* Puces rondes */
    margin-bottom: 10px; 
}

.colored-letter{
    color: rgb(30, 60, 11);
}

.contact {
    margin-top: 300px;
    font-size: 80px;
    text-align: center;
}

.image{
    margin-top: 350px;
    margin-left: -600px;

}
.contForm{
    margin-top: -600px;
    margin-left: 2000px;
}

.message {
    width: 700px;
    height: 450px;
    text-align: center;
    font-size: 25px;

}

.label{
    text-align: center;
    font-size: 25px;
}

.send{
    background-color: transparent; 
    text-align: center; 
    border: solid rgb(30, 60, 11);
    display: flex; 
    color: rgb(30, 60, 11);;
    justify-content: center; 
    align-items: center;
    border-radius: 8px;
    font-size: 25px;

   
    
}

.send:hover {
    background-color: rgb(30, 60, 11); /* Couleur de fond au survol */
    color: white;
    
}

.about{
    margin-top: 400px;
    font-size: 80px;
    text-align: center;
}

.propos{
    margin-top: 100px;
    font-size: 25px;
}

.footer{
    
    background-color: rgb(30, 60, 11);;
    color: white;
    height: 330px;
    width: 10000px;
    position: absolute;
    margin-top: 1200px
    /*bottom: 0;*/

   /* margin-top: 800px;
    background-color: rgb(30, 60, 11);;
    color: white;
    height: 300px;*/
   
   
}

.content-footer{
    font-size: 25px;
   
}
.allertime{
    margin-left:650px ;
    margin-top: -326px;
}

.footer-medias{
    margin-left:1100px ;
    margin-top: -295px;
}

.svg{
    margin-left:2000px ;
    margin-top: -295px; 
}

.yobody{
    overflow: hidden;
    overflow-y: auto; 
}
.mona{
    background-color: white; /* Couleur de fond au survol */
    color: rgb(30, 60, 11);
    text-decoration: none;
}

.telImage{
    margin-top: 100px;
}

.bProd{
    margin-top: -250px;font-size: 70px; 
}

.image-preview {
    max-width: 100px; /* Largeur maximale souhaitée */
    max-height: 200px; /* Hauteur maximale souhaitée, ajustez selon vos besoins */
    margin-top: 110px;
    margin-left: 650px;
}

.cent{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: -100px;
    /*margin-left: 400px;*/
    background: transparent;
    border-radius: 12px;
    
}

.image-label{
        font-size: 25px;
        
}

.btn{
    width:300px; 
    height: 70px;
    background-color: transparent; 
    text-align: center; 
    border: solid rgb(30, 60, 11);
    display: flex; 
    color: rgb(30, 60, 11);;
    justify-content: center; 
    align-items: center;
    border-radius: 8px;
    font-size: 25px;
}
.btn:hover {
    background-color: rgb(30, 60, 11);; /* Couleur de fond au survol */
    color: white;
}
.fomImage{
   
    position: fixed;
    top: 10px; /* Position verticale à partir du haut */
    right: 650px; /* Position horizontale à partir de la droite */
    background-color: white;
}

.table-style  {
    width: 100%;
    margin: 0px;
    font-size: 10px;
  }
  th, td {
    padding: 10px 7px;
}


.table-style  {
    font-size: 25px;
    margin-top: 500px;
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 0px auto;
    border: 2px solid midnightblue;
}

thead tr {
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}

th, td {
    padding: 20px 20px;
    text-align: center;
}

tbody tr, td, th {
    border: 3px solid #032001;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

.matable{
    margin-top: 1000px;
}

.bProd2{
    margin-top: -350px;
    font-size: 70px; 
}

th, td {
    width: 25%;
}

.cente{

    margin-top: 1070px;
    margin-left: 1250px;


}

.tablee-style{
    font-size: 25px;
    margin-top: 500px;
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 0px auto;
    border: 2px solid midnightblue;
}

.tablee-style  {
    width: 100%;
    margin: 0px;
    font-size: 30px;
    margin-top: 500px;
  }